<div class="row">
    <h1 style="margin-left: 550px; margin-top: 20px;">Complete payment</h1>
</div>
<div class="row">
    <div class="col">
        <button class="btn btn-primary" id="paymentBtn" (click)="makePayment(10)" style="margin-left: 650px; margin-top: 20px;">Pay with Stripe</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <button class="btn btn-primary" id="backBtn" (click)="backToHomePage()" style="margin-left: 630px; margin-top: 20px;" disabled="true">Back to home page</button>
    </div>
</div>

